{% extends 'Estudiantes.html' %}
{% load static %}
{% block Titulo %}Resgistro Estudiantes{% endblock %}
{% block bloques %}

<form method="POST">
    {% csrf_token %}
    {% if error%}
    <h2>{{error}}</h2>
    {% else %}
    <div class="FormularioEstu">
        <h3>Formularios Estudiantes</h3>
        <form action="#" method="POST" enctype="multipart/form-data" class="FormE">


            <div>
                <div class ="labels">{{form.nombres.label}}</div>
                <div class = "inputsForms">{{form.nombres}}</div>
            </div>
            <div>
                <div>{{form.apellidos.label}}</div>
                <div>{{form.apellidos}}</div>
            </div>
            <div>
                <div>{{form.direccion.label}}</div>
                <div>{{form.direccion}}</div>
            </div>
            <div>
                <div>{{form.carne.label}}</div>
                <div>{{form.carne}}</div>
            </div>


            <button type="submit" name="ingresar">Ingresar</button>
            <button type="reset" name="ingresar">Cancelar</button>

        </form>
    </div>
    {% endif %}
</form>

<div class="Parrafo2">
    <a href="{% url 'estudiantes' %}"><h1>VER LISTADO</h1></a>
</div>

{% endblock %}