body{background: #629E95;}
h1{color: #FFE6DB;}
h2{color: #FFE6DB;
text-align: center;}

.Imagen{

    display: block;
    margin: 1% auto;
}
/*Home  
Titulos, menu y parrafo*/
.Titulo{
   text-align: center;
}
.Parrafo1{
    
    width: 50%;
    height: 50%;
    background:#B0E8E0 ;
    margin: 0 auto;
    padding: 5px;
    border-radius: 15px;
    text-align: justify;
    
}
a:visited{
    color:#9C7667 ;
}

.Menu{
    color:#9C7667 ;
    width: 50%;
    height: 50%;
    padding: 10px;
    background: #FFE6DB;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}

/*

Estudiantes Tablas


*/
.BloqueTablaE{
    border-radius: 15px;
    background:#B0E8E0 ;
    width: 50%;
    height: 50%;
    padding: 15px;
    margin: 1% auto;
}
.TablaEstudiante{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #000;
}
.TablaEstudiante td{
    padding: 10px;
    border: 2px solid #000;
}





.FormularioEstu{
    border-radius: 15px;
    background:#B0E8E0 ;
    width: 50%;
    height: 50%;
    padding: 15px;
    margin: 1% auto;
}
.FormE{
    width: 100%;
    background:#B0E8E0 ;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #000;
}

/*

Estudiantes Administradores 


*/
.BloqueTablaA{
    border-radius: 15px;
    background:#B0E8E0 ;
    width: 50%;
    height: 50%;
    padding: 15px;
    margin: 1% auto;
}
.TablaAdmin{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 2px solid #000;
}
.TablaAdmin td{
    padding: 10px;
    border: 2px solid #000;
}

.AcercaH{
    color: black;
}
.Acerca{
    
    color: black;
    width: 50%;
    height: 50%;
    background:#B0E8E0 ;
    margin: 1% auto;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}





.Parrafo2{
    
    width: 50%;
    height: 50%;
    
    background:#B0E8E0 ;
    margin: 2% auto;
    padding: 10px;
    border-radius: 15px;
    text-align: justify;


    
}
.Parrafo2 a:visited{
    color:black;
}



.labels{
    padding: 5px;
    font-size: 50%;
}