{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}"> 
    <title>Home</title>
</head>

<body>
    <div class="Menu">
        <a href="{% url 'home' %}">HOME | </a>
        <a href="{% url 'estudiantes' %}">Estudiantes | </a>
        <a href="{% url 'administradores' %}">Administradores | </a>
        <a href="{% url 'acercaDe' %}">Acerca De|</a>
        <a href="{% url 'login' %}">Login</a>
    </div>


    <div class="Parrafo2">
        <a href="{% url 'estudiantesForms' %}"><h1>Registrar Estudiantes</h1></a>
        <a href="{% url 'adminsForms' %}"><h1>Registrar Administradores</h1></a>
    </div>



</body>

</html>